@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --red: #e50914;
  --black: #141414;
  --categories: #aaa;
  --categories-hover: #fff;
  --media-title: #fff;
  --text-highlighted: #8596A3;
  --button-color: #000000bf;
  --button-text: #fff;
  --button-color-hover: #fff;
  --button-text-hover: #000;
}

/* === GLOBAL SETTINGS === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Nunito', sans-serif;
  color: var(--media-title);
}

.button {
  background-color: var(--button-color);
  border: none;
  text-decoration: none;
  color: var(--button-text);
  outline: none;

  padding: 15px 30px;
  margin-right: 15px;
  width: 210px;

  border-radius: 4px;

  text-transform: uppercase;
  font-size: 12px;

  cursor: pointer;

  transition: 200ms ease-in-out;
}

.button:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-hover);
}

/* === NAV MENU === */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 2% 0;
}

header .container .logo {
  color: var(--red);
  font-family: 'Arial Black', 'Times New Roman', Times, serif;
  font-size: 40px;
}

header .container nav a {
  color: var(--categories);
  text-decoration: none;
  margin-right: 10px;

  transition: 200ms ease-in-out;
}

header .container nav a:hover {
  color: var(--categories-hover);
}

header .container nav a:last-child {
  margin-right: 0;
}

/* === HIGHLIGHTED MEDIA === */

main {
  margin: 0 auto 1%;
}

main .highlighted-media {
  font-size: 16px;
  
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.50) 100%),
    url('../assets/stranger-things.jpg');
  height: 90vh;
  background-size: cover;
  background-position: center top;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

main .highlighted-media .container {
  margin-left: 2%;
}

main .highlighted-media .container .title {
  margin: 20% 0 2%;

  font-size: 40px;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

main .highlighted-media .container .description {
  margin-bottom: 5%;

  width: 40%;
}

main .highlighted-media .container .description p:nth-child(1),
main .highlighted-media .container .description p:nth-child(2) {
  margin-bottom: 24px;
}

main .highlighted-media .container .description p span {
  color: var(--text-highlighted);
}

main .highlighted-media .container .button i {
  margin-right: 8px;
}

/* === CAROUSEL IMGS === */

.media-carousel .owl-carousel .item .media-box {
  height: 100%;
  width: 100%;
  display: block;
}